@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
html { font-family: 'Hanna', sans-serif; }
body{
    background-color: #1D2316;
    font-family: 'Hanna', sans-serif;
}

.container{
	background-color: #1D2316;
	width: 1200px;
	height : 1300px;
	margin : auto;
}

.item{
    margin : 20px auto 0 auto;
    background-color: #1D2316;
    width: 840px;
    height: 250px;
}
.col-sm-3{
    display:inline-table;
    float: left;
    width: 180px;
    height: 250px;
	margin : auto ;
}
.textdiv{
	width : 100px;
	height : 20px;
	margin: 2em auto 0px auto;
    background-color: #1D2316;
}

#text{
    color: white;
    text-align : center;
    font-size: 18px;
    
}
.hrdiv{
    width : 100px;
    background-color: #1D2316;
	margin :-10px auto 0px auto;
}
#hr{
    color: white;
    width: 100px;
    border-style: inset;
    border-width: 0.5px;
    
}
.textdiv2{
	width : 100px;
	height : 20px;
	margin: 2em auto 0px auto;
	background-color: #1D2316;
}
#text2{
    color: white;
    font-size: 18px;
   	font-family: 'Hanna', sans-serif;
    text-align : center;    
}
.hrdiv2{
	width: 100px;
	background-color: #1D2316;
	margin :-10px auto 0px auto;
}
#hr2{
    color: white;
    width: 100px;
    border-style: inset;
    border-width: 0.5px;  
}
.item2{
 	margin: 20px auto 0px auto;
    background-color: #1D2316;
    width: 840px;
    height: 250px;

}
.col-sm-4{
    display:inline-table;
    float: left;
    width: 180px;
    height: 250px;
    margin : auto ;
}

.textdiv3{
	width : 100px;
	height : 20px;
	margin: 2em auto 0px auto;
 	background-color: #1D2316;
}

#text3{
    color: white;
    font-size: 18px;
   	font-family: 'Hanna', sans-serif;
    text-align : center; 
}
.hrdiv3{
	width: 100px;
	background-color: #1D2316;
	margin :-10px auto 0px auto;
}
#hr3{
    color: white;
    width: 100px;
    border-style: inset;
    border-width: 0.5px; 

}

.item3{
 	margin: 20px auto 0px auto;
    background-color:#1D2316;
    width: 830px;
    height: 300px;

}

.footer{
    background-color: #f8f8fa;
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#address{
	
	 width:400px;
	 height:50px;
	 margin : 0px auto 0px auto;
	 color:grey;
	 font-size: 15px;
}

.user-item{
	float: right;
}