@charset "UTF-8";

body{
	font-family: '나눔스퀘어_ac';
	font-size:18px;
}

.container{
	display : block;
	width: 1200px;
	margin: 0px auto;
}

.poster {
	display: block;
	float: left;
	width: 400px;
}

#img {
	width: inherit;
}

.contents {
	display: inline-block;
	width: 700px;
	margin: 0px auto 0px 10px
}

.title{
	font-size : 25px;
}