@charset "UTF-8";

section.register{
	margin:20px auto;
	background-color: white;
    border: 3px solid #1D2316;
	border-radius: 1rem;
	width: 500px; height: 900px;
}
p{ font-size: 10px; color: gray; margin: 5px 5px;}
h1.title{ margin:30px auto; text-align: center; }
hr{ margin: 20px; }
lable{ font-weight: bold; margin: 0 5px; }
input{
	border: 0px;
	border-bottom: 2px solid #1D2316;
	width: 350px; height: 30px
}
div{ margin: 10px 20px; }
button.bnt{
	margin: 0px 10px;
	padding: 5px;
	border: 2px solid #1D2316;
	border-radius: 5px;
	color: #1D2316;
	background-color: white;
}
.name , .gender{ margin: 10px; width: 100px; height: 30px;}
.brith_date { width: 150px; height: 30px; }
.phone_number , .email{ width: 200px; height: 30px; }
select{ width: 100px; }
button.register-bnt , button.login-bnt{
	background-color: #1D2316;
	border-radius: 5px;
	color: white; font-weight: bold;
	margin: 10px 20px; float: right;
	padding: 10px;
	font-size: 18pt;
}
.code{ width: 100px; height: 30px;}

section.registerres
{
	margin:20px auto;
	background-color: white;
    border: 3px solid #1D2316;
	border-radius: 1rem;
	width: 800px; height: 300px;
	padding: auto;
}

h1.success{ text-align: center; font-size: 20pt; margin: 50px;}

header.idcheck
{
	width: 400px; height: 50px;
	border: 2px solid #1D2316;
	background-color: #1D2316;
}
input.userid{margin: 20px 20px;}
h3 { color: white; text-align: center; margin: 10px;}
.labelid{text-align: center; font-weight: bold;}
.id_but_check{ margin: 0px 100px;}

section.login
{
	width: 500px; height: 330px;
	border: 2px solid #1D2316; border-radius: 5px;
	margin: 20px auto;
}

.loginid , .loginpw{ margin: 10px auto; padding: 15px;}
.remember-box{ width: 50px; height: 20px; margin: 0 10px; display: inline; line-height: 20px;}
.remember-label{ width: 90px; height: 20px; text-align: right;}